  @media (max-width: 768px){

    .card{
        flex-direction:column;
        border-radius: 15px;
    }

  .left-img img{
        width:100%;
       
    }

    .right-content{
        padding:20px;
    }

    .right-content h2{
        font-size:18px;
    }

    .right-content p{
        font-size:14px;
    }

    .share-popup{
     position:absolute;
    left:0;
    right:0;
    bottom:0;
    background:#48556a;
    color:white;
    padding:18px 25px;
    border-radius:0 0 15px 15px;

    display:flex;
    align-items:center;
    gap:18px
        
    }
    .share-popup img:last-child{
    margin-right:auto;
}
    .avatar.active .author-info,
    .avatar.active > img{
        display:none;
    }

    .share-popup::after{
        display:none; /* arrow remove in mobile */
    }
    .icons{
    display:flex;
    gap:15px;
}

    }
body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: hsl(210, 46%, 95%);
    display:flex;
    justify-content: center;
    align-items:center;
    height:100vh;
    padding:50px;
  background-image :url("favicon.icon");
}

/* CARD */
.card{
    display:flex;
    background-color:white;
    width:800px;
    border-radius: 12px;
    overflow: visible;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    
}

/* LEFT IMAGE */
.left-img img{
    height:100%;
    width:100%;
    object-fit:cover;
}

/* RIGHT CONTENT */
.right-content{
    padding:25px;
}

.right-content h2{
    margin-bottom:15px;
}

.right-content p{
    color:gray;
    margin-bottom:25px;
}

/* AVATAR SECTION */
.avatar{
    display:flex;
    align-items:center;
    gap:15px;
    position:relative;
}

.avatar img{
    width:40px;
    border-radius:50%;
}

/* Push button to right */
.share-button{
    margin-left:auto;
    background-color: rgba(73, 113, 198, 0.11);
    border:none;
    padding:10px;
    border-radius:50%;
    cursor:pointer;
   
}

.share-button img{
    width:18px;
}
.author-info{
    display:flex;
    flex-direction:column;
    gap:1px;
}
.author-info h4{
    margin:0;
    font-size:14px;
}

.share-popup{
    position:absolute;
    bottom:60px;
    right:-50px;
    background :#48556a;
    color:white;
    padding:8px 10px;
     border-radius:10px;
     display:flex;
     gap:15px;
     align-items:center;
     opacity:0;
     visibility:hidden;
     transition:0.3s ease
}
.share-popup::after{
    content:"";
    position:absolute;
    bottom:-20px;
    right:60px;
    border-width:10px;
    border-style:solid;
    border-color:#48556a transparent transparent transparent;
}
.share-popup.active{
    opacity:1;
    visibility:visible;
}
